*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 1100px;
    height: 30px;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    font-size: 30px;
    list-style: none;
    box-sizing: border-box;
    margin: 100px;
}
.section{
    font-size: 95px;
    box-sizing: border-box;
   margin-left: 550px;
    margin-top: 150px;  
}
.ota{
    box-sizing: border-box;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.qzil{
    box-sizing: border-box;
    width: 560px;
    height: 350px;
    background-color: red;
    color: white;
    padding: 190px 190px;
    font-size: 54px;
}
.nenu{
    width: 1100px;
    height: 30px;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    font-size: 32px;
    list-style: none;
    box-sizing: border-box;
   margin-top: 100px;
}
